.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Hugo default output directory
gh-pages
resources/_gen/assets/scss/temp
themes/LoveIt/resources/_gen/assets/scss/temp
node_modules/
public/
build/
resources/_gen/
package-lock.json
.hugo_build.lock
yarn.lock

# MarkEditor
*/.markeditor/
.markeditor/
content/configs/
content/.auto_links.json
content/.icon.png
temp/
.Archive
.sync

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Linux
.directory
